{% extends 'base.html' %}

{% block  content%}
    
    <div class="jumbotron">
	  <h1 class="display-4">Hello there !</h1>
	  <p class="lead">Welcome to my website.</p>
	  <hr class="my-4">
	  <p>Try my new Apps ! </p>
	  <a class="btn btn-primary btn-lg" href="/tictactoe" role="button">Tictactoe</a>
	  <a class="btn btn-primary btn-lg" href="/keepinmind" role="button">Keepinmind</a>
	  <a class="btn btn-primary btn-lg" href="/payyourdrink" role="button">Payyourdrink</a>
	</div>

{% endblock content %}
