{% if games_list %}
    <div class="list-group">
        {% for game in games_list %}
            <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center" href=" {{ game.get_absolute_url }}">
                {{ game }}
                {% if game.status not in 'FS' %}
                    {% if game.status == 'D' %}
                        -- Draw
                    {% elif game.status == 'W' and user == game.first_player %}
                        -- You won !
                    {% elif game.status == 'L' and user == game.second_player %}
                        -- You won !
                    {% else %}
                        -- You lost
                    {% endif %}
                
                {% else %}
                {% if game.status == 'F' and user == game.first_player %}
                    -- It's your turn !
                {% elif game.status == 'S' and user == game.second_player %}
                    -- It's your turn !
                {% endif %}
                
                
                {% endif %}
                
                <span class="badge badge-primary badge-pill">{{ game.move_set.count }}</span>
            </a>
        {% endfor %}
    </div>
{% else %}
    <p> No game to display </p>
{% endif %}