{% extends 'base.html' %}

{% block  content%}
    
    <div class="jumbotron">
        <hr>
        <p>You have curently {{notes.count}} notes to see for a total of {{all_notes}} notes </p>
        <div class="d-flex flex-row-reverse">
            <a class="btn btn-primary btn-lg" href="{% url 'keepinmind_edit_note' id=0  %}" role="button">Add a note</a>
        </div>
    </div>
    <div class="row">
    {% for note in notes %}
        <div class="col-md-6">
            <div class="card">
                <div class="card-header">
                     <form method="post" action="{{ note.get_absolute_url }}">
                        Seen {{note.score}} times. Last seen {{note.last_active}}
                        {% csrf_token %}
                        <div class="float-right">
                            <button class="btn" type="submit" name="ok">
                                <i style="color: green;" class="fas fa-check fa-lg" ></i>
                            </button>
                            <button class="btn ml-3" type="submit" name="ko">
                                <i style="color: red;" class="fas fa-times fa-lg" ></i>
                            </button>
                        </div>
                    </form>
                </div>
                <div class="card-body">
                    <a href="{{note.get_absolute_url}}" class="btn float-right"> <i class="fas fa-pencil-alt"></i> </a>
                    {% if note.is_question %}
                        <div class="card card-body">
                            <p class="card-text"> 
                                {% if note.get_is_question_first %}
                                    {{note.question}} 
                                {% else %}
                                    {{note.answer}}
                                {% endif %}
                            </p>
                        </div>
                        <p></p>
                        <a class="btn btn-primary" data-toggle="collapse" href="#collapseAnswer{{note.id}}" role="button" aria-expanded="false" aria-controls="collapseAnswer{{note.id}}">
                            {% if note.get_is_question_first %}
                                    Show Answer
                                {% else %}
                                    Show Question
                                {% endif %}

                        </a>
                        <p></p>
                        <div class="collapse" id="collapseAnswer{{note.id}}">
                        <div class="card card-body">
                            <p class="card-text"> 
                             {% if note.get_is_question_first %}
                                    {{note.answer}} 
                                {% else %}
                                    {{note.question}}
                                {% endif %}
                            </p>
                        </div>
                        </div>
                    {% else %}
                        <div class="card card-body">
                            <p class="card-text"> {{note.question}} </p>
                        </div>
                    {% endif %}
                    
                </div>
            </div>
        </div>
    {% endfor %}
    </div>
              
{% endblock  %}