{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{ deal }}
{% endblock title %}

{% block content %}
    <div class="col-md-12 card">
        <div class="card-body">
            <p class="font-weight-bold"> 
            {% if user.id == deal.first_person.id %}
                {% if deal.get_number_of_drinks == 0  %}
                    Status is even with {{deal.second_person}}
                {% elif deal.get_number_of_drinks > 0 %}
                    {{deal.second_person}} owes you {{deal.get_number_of_drinks}} drinks
                {% else %}
                    You owe {{deal.get_number_of_drinks_inverse}} drinks to {{deal.second_person}}
                {% endif %}
            {% else %}
                {% if deal.get_number_of_drinks == 0  %}
                    Status is even with {{deal.first_person}}
                {% elif deal.get_number_of_drinks < 0 %}
                    {{deal.first_person}} owes you {{deal.get_number_of_drinks_inverse}} drinks
                {% else %}
                    You owe {{deal.get_number_of_drinks}} drinks to {{deal.first_person}}
                {% endif %}
            {% endif %}
            </p>
            
            <form method="post" action=" {% url 'payyourdrink_change_deal' deal.id %}">
                
                {% csrf_token %}
               
                <div>
                <label class="mt-3" >Write a comment for the next drink</label>
                <textarea class="form-control" name="comment" rows="3"></textarea>
                </div>
                <div class="mt-3">
                <button class="btn btn-success" type="submit" name="give">Pay a drink</button>
                <button class="btn btn-success" type="submit" name="get">Get a drink</button>
                <a class="btn btn-primary" href=" {% url 'payyourdrink_home' %}">Go back home</a>
                </div>
            </form>
            
        </div>
    </div>
    {% if deal.drink_set.all %}

        {% for drink in deal.drink_set.all %}
            <div class="card mb-12">
                <div class="card-header"><i class="fas fa-glass-martini-alt"></i></div>
                <div class="card-body">
                    <h5 class="card-title">
                        {% if user.id == deal.first_person.id %}
                            {% if drink.for_first_person %}
                                {{deal.second_person}} gave you a drink
                            {% else %}
                                You gave a drink to {{deal.second_person}}
                            {% endif %}
                        {% else %}
                            {% if drink.for_first_person %}
                                {{deal.first_person}} gave you a drink
                            {% else %}
                                You gave a drink to {{deal.first_person}}
                            {% endif %}
                        {% endif %}
                    </h5>
                    <p class="card-text"> {{drink.comment}} </p>
                    <p class="card-text"><small class="text-muted"> {{drink.start_time}} by {{drink.by_user}} </small></p>
                </div>
            </div>
        {% endfor %}
    {% else %}
        <p> No history </p>
    {% endif %}


{% endblock content %}