{% extends 'base.html' %}

{% block  content%}
    
    <div class="jumbotron">
        <h1 class="display-4">Hello</h1>
        <p class="lead">Remember, alcool is to drink with moderation !</p>
        <hr class="my-4">
        <p>You have a total of {{total_drinks_to_get}} drinks to get </p>
        <p>You have a total of {{total_drinks_to_give}} drinks to give </p>
        <a class="btn btn-primary btn-lg float-right" href="{% url 'payyourdrink_new_deal' %}" role="button">Add a person</a>
    </div>
    {% include "payyourdrink/list_snippet.html" with deal_list=deals %}
              
{% endblock  %}