{% if deal_list %}
    <div class="list-group">
        {% for deal in deal_list %}
            <a class="list-group-item list-group-item-action  d-flex justify-content-between align-items-center" href=" {{ deal.get_absolute_url }}">
                {% if user.id == deal.first_person.id %}
                {{ deal.second_person }}
                {% if deal.get_number_of_drinks > 0  %}
                    <span class="badge badge-primary badge-pill mr-3 ml-3">{{deal.get_number_of_drinks}}</span>
                {% endif %}
                {% if deal.get_number_of_drinks_inverse > 0  %}
                    <span class="badge badge-primary badge-pill mr-3 ml-3">{{deal.get_number_of_drinks_inverse}}</span>
                {% endif %}
                {% else %}
                {{ deal.first_person }}
                {% if deal.get_number_of_drinks > 0  %}
                    <span class="badge badge-primary badge-pill mr-3 ml-3">{{deal.get_number_of_drinks}}</span>
                {% endif %}
                {% if deal.get_number_of_drinks_inverse > 0  %}
                    <span class="badge badge-primary badge-pill mr-3 ml-3">{{deal.get_number_of_drinks_inverse}}</span>
                {% endif %}
                {% endif %}
                
                
            </a>
        {% endfor %}
    </div>
{% else %}
    <p> No deal to display </p>
{% endif %}