{% extends 'base.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %}
    {{ game }}
{% endblock title %}
{% block styling %}
    {{ block.super }}
    <style type="text/css">

    .castlemaze-table {
        border-width: 2px;
        width: 1000px;
        height: 600px;
    }

    .castlemaze-maze {
        background-color: #debb27;
        width: 68px;
        height: 68px;
        text-align: center;
        vertical-align: middle !important;
        padding:0px;
        margin:0px;
        position: absolute;
    }

    .castlemaze-tile {
        width: 70px;
        height: 70px;
        position: absolute;
        transition: left 1s ease-out, top 1s ease-out;
    }
    .castlemaze-card {
        background-color: #de0027;
        width: 90px;
        height: 140px;
        position: absolute;
        text-align: center;
        vertical-align: middle !important;
        padding:0px;
        margin:0px;
    }

    .clickable:hover {
        background-color:green;
        filter: drop-shadow(8px 8px 12px);
    }

    </style>
{% endblock styling %}

{% block content %}
{{player_cells}}
    <div style="overflow: auto; max-height:800px; position:relative; width:3000px; height:3000px;">
            {% for cell in game.board %}
                <div id="cell_{{cell.pk}}" value="{{cell.pk}}" class="{{cell.get_class}}" style="padding:0px; left:{{cell.get_left_offset}}px;  top:{{cell.get_top_offset}}px;" onclick="action_request(id)">
                </div>
            {% endfor %} 
            {% for card in cards %}
                <div class="castlemaze-tile"  id="tile_{{card.card_id}}" style="padding:0px; left:{{card.left}}px;  top:{{card.top}}px;">
                    <img  style="width:70px;"
                            src="{% static card.display %}"
                    /> 
                    </div>
            {% endfor %} 
    </div>
    <p></p>
    <button style="btn btn-primary" onclick="start_game({{game.pk}})"> Start Game </button>
    
    <script src="{% static 'scripts/castlemaze/main.js' %}"></script>
{% endblock content %}